<!DOCTYPE HTML>
<html>
<head>
  <title>Sample 15</title>
</head>
<body>
  <form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="myfile" />
    <input type="submit" value="送出" />
  </form>
</body>
</html>
