<!DOCTYPE HTML>
<html>
<head>
    <title>加法測試</title>
</head>
<body>
    <form action="{{ result_url }}" method="post">
        <input type="text" name="num" />
        <input type="text" name="num" />
        <input type="submit" value="送出" />
    </form>
</body>
</html>
